* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #343434;
    --bg-color: #f7f7f7;
}

@media (min-width: 768px) {
    .container-lg {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container-lg {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container-lg {
        max-width: 1170px;
    }
}

.img-respon {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

span {
    display: inline-block;
}

.container-lg {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

/* start golobal classes*/
.marginb-30 {
    margin-bottom: 30px !important;
}

.main-color {
    color: var(--main-color) !important;
}

.bg-main {
    background-color: var(--bg-color) !important;
}

.sec-header h3 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    position: relative;
    display: inline-block;
    z-index: 4
}

.sec-header h3::after {
    content: "";
    width: 100%;
    height: 30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
}

/* End golobal classes*/


/* start home */




.navbar {
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
    --bs-navbar-toggler-border-color: none;
    --bs-navbar-toggler-border-radius: none;
    --bs-navbar-toggler-focus-width: none;
}


/* @media screen and (max-width: 767px){
.navbar-default .navbar-toggle {
    background: none !important;
    margin-top: 15px !important;
    background: #fff;
    border: none !important;}
} */

.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/bg.jpg);
    background-size: cover;
    background-position: top;
    /* background-attachment: fixed; */
    height: 100vh;
}


.navbar-brand {
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 25.7143px;
    letter-spacing: 1px;
    font-weight: 800;
    padding-left: 2px;
    padding-top: 15px;
}

.navbar-brand:hover {
    color: whitesmoke;
}

.nav-link:hover {
    color: whitesmoke;
}

.nav-link {
    color: whitesmoke;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 12px 12px;
    padding: 0;
}

.navbar .navbar-collapse {
    text-align: center;
    border: none;
    border-top: 1px solid rgba(12, 12, 12, 0.04);
    /* background: #fff; */
    margin-top: 5px;
    padding: 15px 0px;
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse{
        background-color: #fff !important;
        width: 100vw;
    }
}

.navbar-und .navbar-nav .nav-link.active {
    color: whitesmoke;
    text-decoration: underline;
}

@media screen and (max-width: 991px) {
    .nav-link{
        margin: 10px 7px 0;
        font-size: 13px;
    }
}
@media screen and (max-width: 991px) {
    .nav-link .active{
        margin: 10px 7px 0;
        font-size: 13px;
    }
}

.home h5 {
    font-size: 50px;
    line-height: 55px;
    font-weight: 800;
    margin-bottom: 10px;
}

.home-head {
    font-size: 60px;
    line-height: 72px;
}

 

@media only screen and (max-width: 1170px) {
    .home-head {
        font-size: 44px !important;
        line-height: 52.8px !important;
    }
}

@media only screen and (max-width: 768px) {
    .home-head {
        font-size: 30px !important;
        font-weight: 300;
    }
}

.home h1 {
    font-weight: 200;
}



.home-content ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 30px 2px 0 2px;
    cursor: pointer;

}

.home-content ul li i {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
}

/* .icons i{
    font-size: 14px;
    line-height: 35px;
    font-weight: 400;
    background-color: rgba(0,0,0,0.3);
    width: 35px;
    height: 35px;
    margin-top: 30px;
    cursor: pointer;
} */

.home span{
    display: inline-block;
}

.home h1::after{
    content: "";
    animation: header-animation;
    border-right: 1px solid white;
    padding-right: 10px;
    animation-timing-function: linear;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    font-weight: bolder;
    /* animation-direction: alternate; */

}

@keyframes header-animation {

    0% {
        content: "Larry Daniels ";
    }

    1% {
        content: "Larry Daniels ";
    }

    2% {
        content: "Larry Daniel";
    }

    3% {
        content: "Larry Danie";
    }

    4% {
        content: "Larry Dani";
    }

    5% {
        content: "Larry Dan";
    }

    6% {
        content: "Larry Da";
    }
    7% {
        content: "Larry D";
    }

    8% {
        content: "Larry";
    }

    9% {
        content: "Larr";
    }

    10% {
        content: "Lar";
    }

    11% {
        content: "La";
    }

    12% {
        content: "L";
    }

    13% {
        content: " ";
    }

    15% {
        content: "D";
    }

    17% {
        content: "De";
    }

    19% {
        content: "Dev";
    }

    21% {
        content: "Deve";
    }

    22% {
        content: "Devel";
    }

    23% {
        content: "Develo";
    }

    25% {
        content: "Develop";
    }

    27% {
        content: "Develope";
    }

    29% {
        content: "Developer ";
    }
    31% {
        content: "Developer ";
    }

    33% {
        content: "Develope";
    }

    35% {
        content: "Develop";
    }

    37% {
        content: "Develo";
    }

    39% {
        content: "Devel";
    }

    41% {
        content: "Deve";
    }

    43% {
        content: "Dev";
    }

    45% {
        content: "De";
    }

    47% {
        content: "D";
    }

    49% {
        content: " ";
    }
    51% {
        content: " ";
    }

    53% {
        content: "D";
    }

    55% {
        content: "De";
    }

    57% {
        content: "Des";
    }

    59% {
        content: "Desi";
    }

    61% {
        content: "Desig";
    }

    63% {
        content: "Design";
    }

    65% {
        content: "Designe";
    }

    67% {
        content: "Designer ";
    }
    69% {
        content: "Designer ";
    }

    71% {
        content: "Designe";
    }

    73% {
        content: "Design";
    }

    75% {
        content: "Desig";
    }

    77% {
        content: "Desi";
    }

    79% {
        content: "Des";
    }

    81% {
        content: "De";
    }

    83% {
        content: "D";
    }

    85% {
        content: " ";
    }
    86% {
        content: " ";
    }

    87% {
        content: "L";
    }

    88% {
        content: "La";
    }

    89% {
        content: "Lar";
    }

    90% {
        content: "Larr";
    }

    91% {
        content: "Larry";
    }

    92% {
        content: "Larry D";
    }

    93% {
        content: "Larry Da";
    }

    94% {
        content: "Larry Dan";
    }

    95% {
        content: "Larry Dani";
    }

    96% {
        content: "Larry Danie";
    }

    97% {
        content: "Larry Daniel";
    }

    98% {
        content: "Larry Daniels";
    }
    99% {
        content: "Larry Daniels";
    }
    100% {
        content: "Larry Daniels";
    }

}

/* end home */

/* Start About */


.about-img::after {
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0px;
    bottom: -30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    z-index: -1;
}

.about-img {
    padding: 0 0 0 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 991px) {
    .about-img {
        margin-bottom: 80px;
    }
}

.about-content h3 {
    font-size: 30px;
    line-height: 33px;
    font-weight: 800;
}

.prog {
    width: 96%;
    padding: 5px 10px;
    margin: 15px 12px;
    border-radius: 5px;
    background: #f7f7f7;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
    position: relative;
}

.prog span:after {
    content: attr(data-value);
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 11px;
    color: #fff;
}

.prog span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    border-radius: 5px;
    background-color: #1c1c1c;
}

.about-content h6 {
    font-size: 13px;
    line-height: 14.3px;
    font-weight: 500;
    vertical-align: middle;
    margin: 0;
}

.about-content .p1 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}

.about-content .p2 {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}

.about-content .btn.active:hover {
    color: black;
    background-color: white;
}

.about-content button {
    font-size: 13px;
    line-height: 18.5714px;
    padding: 10px 30px;
    margin-top: 40px;
}


/* End About */

/* Start Services */
.services-item {
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
    padding: 50px 20px;
    margin: 3px;
    /* margin-bottom: 30px; */
}

.services-item i {
    font-size: 30px;
    line-height: 70px;
    background-color: #f4f4f4;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.services-item:hover i {
    background: #1c1c1c;
    color: #eee;
}

.services-item h6 {
    font-size: 18px;
    line-height: 19.8px;
    font-weight: 800;
    margin-bottom: 15px;
}

.services-item p {
    font-size: 14px;
    line-height: 22.4px;
    word-spacing: 2px;

}

/* End Services */

/* Start Portfolio */

.portfolio .nav-link {
    color: #222222;
    font-size: 16px;
    line-height: 22.8571px;
    font-weight: 700;
    margin: 0px 15px;
}

.portfolio-item {
    margin: 3px;
}

.img-lay {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(10px);
}

.img-lay:hover {
    transform: translateY(0);
    opacity: 1;
}

.img-lay h6 {
    font-size: 12px;
    line-height: 13.2px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 15px;
    transform: translateY(-15px);
    transition: all 0.5s;
}

.img-lay:hover h6 {
    transform: translateY(0px);
}

.img-lay i {
    display: inline-block;
    width: 30px;
    font-size: 14px;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    border: 1px solid #111;
    background: #111;
    color: #eee;
}

.img-lay i:hover {
    background: transparent;
    color: #000;
}

/* End Portfolio */


/* Start Testmonials */

.test-img {
    width: 90px;
    height: 90px;
    overflow: hidden;
    margin: 0 auto 15px;
}

.test-content h6 {
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 600;
    margin: 30px 0 5px;
}

.test-content .tp1 {
    font-size: 15px;
    line-height: 24px;
    word-spacing: 2px;
}

.test-content .tp2 {
    font-size: 12px;
    line-height: 17.1429px;
    font-weight: 600;
    margin-bottom: 25px;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-right: 7px;
    margin-left: 7px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #869791;
    background-clip: padding-box;
    border: 0;
    border-radius: 50%;
    /* opacity: .5; */
    transition: opacity .6s ease;
}


/* End Testmonials */

/* Start items */

.item h3 {
    font-size: 30px;
    line-height: 33px;
    font-weight: 900;
    margin-bottom: 15px;
}

.item p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.item-icon i {
    font-size: 30px;
    line-height: 42.8571px;
    margin-bottom: 15px;
}

/* End items */


/* Start Team */

.team-card {
    margin: 5px 3px;
}

.card-lay {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    transform: rotateY(180deg) scale(0.5, 0.5);
}

.team-card:hover .card-lay {
    transform: rotateY(0) scale(1, 1);
    opacity: 1;
}

.card-lay i {
    display: inline-block;
    width: 40px;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #111;
    background: #111;
    color: #eee;
    margin: 0 7px;
}

.card-lay i:hover {
    background: transparent;
    color: #000;
}

.card-img img {
    transition: all 0.4s ease 0s;
    width: 100%;
}

.card-img:hover img {
    transform: scale(1.2);
}

.card-text {
    padding: 25px;
    background-color: #5B5B5B;
    color: #ffffff;
}

.card-text h4 {
    font-size: 25px;
    line-height: 27.5px;
    font-weight: 500;
    margin-bottom: 5px;
}

.card-text h5 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .card-img img {
        display: inline-block;
    }
}

/* End Team */

/* Start Contact */

.contact-item {
    padding: 0px 10px;
    margin: 3px;
}

.contact-item i {
    font-size: 25px;
    line-height: 25px;
    background-color: #f4f4f4;
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    transition: all 0.5s;
}

.contact-item:hover i {
    background: #1c1c1c;
    color: #eee;
}

.contact-item h6 {
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-item p {
    font-size: 15px;
    line-height: 24px;
}

.inputs {
    padding-bottom: 15px;
}

.form-items input {
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    background: #f4f4f4;
    font-size: 14px;
    line-height: 20px;
}

.form-items textarea {
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background: #f4f4f4;
    font-size: 14px;
    line-height: 20px;
    height: 160px;
    max-height: 160px;
    max-width: 100%;
}

.form-items .btn {
    padding: 10px 40px;
    font-size: 13px;
    line-height: 18.5714px;
}

.form-items .btn.active:hover {
    color: black;
    background-color: white;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: #f4f4f4;
    border-color: #f4f4f4;
    outline: 0;
    box-shadow: none;
}

/* End Contact */

/* Start Footer */

.footer-content p {
    font-size: 13px;
    line-height: 20.8px;
    word-spacing: 2px;
    color: #748182 !important;
    padding: 10px 0;

}

/* End Footer */
@media screen and (max-width: 767px) {
    .nav-link{
        color: var(--main-color);
        margin: 10px 0; 
    }
}
@media screen and (max-width: 767px) {
    .navbar-und .navbar-nav .nav-link.active{
        color: var(--main-color);
        border-color: var(--main-color);
        margin: 10px 0; 
    }
}
/* @media screen and (max-width: 767px) {
    .navbar .navbar-brand{
        color: var(--main-color);
    }
}
@media screen and (max-width: 767px) {
    .navbar .navbar-toggler i{
        color: var(--main-color);
    }
} */